*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    scroll-behavior: smooth;  
}

.menu{
    background-color: #b4f0d3;
    height: 150px;
    border-bottom: 25px solid #77c59f;
    border-top: 25px solid #77c59f;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
}

.menu2{
    background-color: #b4f0d3;
    height: 150px;
    border-bottom: 25px solid #77c59f;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
}

.menu3{
    background-color: #b4f0d3;
    height: 150px;
    border-bottom: 25px solid #77c59f;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
}

.menuitems{
    height: 90%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-family: monospace; 
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: flex-grow .7s;
    
}

.menuitems2 {
    height: 90%;
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}

.menuitem25 {
    height: 90%;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    font-family: monospace;
}


.menuitems3 {
    height: 50%;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
}




.container{
    height: 300px;
    font-size: 100px;
    font-family: 'Archivo Black', sans-serif;
    background-color: white;
    color: #77c59f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 25px solid #77c59f;
}

.container3{
    height: 100px;
    font-size: 24px;
    font-family: 'Archivo Black', sans-serif;
    background-color: white;
    color: #77c59f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 25px solid #77c59f;
}


.item{
    height: 100%;
    background-color: white;
    min-width: 100px;
}

p{
    color: #77c59f;
    font-size: 50px;
}



.longscroll{
    background-image: linear-gradient(#b4f0d3, #47cddf, #1d68d8);
    height: 5000px;
}

